---
---

@import "{{ site.theme }}";

tr, td, th {
	text-align: left;
    	padding: 0.2em;
}

th {
	background-color: #dddddd;
}

ul,ol {
	margin-left: 20px;
}

h2,h3 {
	margin-top: 0.8em;
}

.inner {
 width:1024px;
 margin:0 auto
}
